html,body {
    font-size: 16px;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.signUp {
    background-color: #091f45;
}
.signUp-container {
    min-height: 40px;
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    align-items: center;
    justify-items: end;
    color: #ffffff;
    font-size: 14px;
    padding: 0 100px;
}
.signUp-content {
    display: flex;
    gap: 10px;
}
.signUp-link {
    text-transform: capitalize;
    text-decoration: underline;
}
.signUp-decor {
    position: relative;
    width: 20px;
    height: 20px;
}
.signUp-decor::after {
    content: '';
    position: absolute;
    top:45%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(45deg);

}
.signUp-decor::before {
    content: '';
    position: absolute;
    bottom:45%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}
@media (max-width: 991.8px) {
    .signUp-decor {
        display: none;
    }
    .signUp-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
@media (max-width: 575.8px) {
    .signUp-container {
        padding: 0 15px;
    }
}
@media (max-width: 385.8px) {
    .signUp-content {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
}


.header-container {
    position: relative;
    z-index: 50;
    background-color: #ffffff;
    padding: 0 100px;
    display: grid;
    align-items: center;
    min-height: 98px;
    gap: 20px;
    grid-template-columns: 140px auto minmax(50px, 545px) 62px auto;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-list {
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
}

.menu-link {
    text-transform: capitalize;
    padding: 7px 12px;
    position: relative;
}
.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.2px;
    background-color: #000000;
    transition: all 0.2s ease-in;

}
.menu-link:hover::after {
    width: 100%;
}

.submenu {
    position: absolute;
    top: 60px;
    left: 0;
    display: grid;
    gap:20px; 
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    justify-items: center;
    background-color: #2d335e;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    color: #ffffff;
    padding: 25px 0;
}
.submenu-open {
    top: 90px;
    opacity: 1;
    transition: all 0.3s ease;
    pointer-events: all;
}
.submenu-link {
    padding: 15px 15px;
    position: relative;
}
.submenu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.2px;
    background-color: #ffffff;
    transition: all 0.2s ease-in;
}
.submenu-link:hover::after {
    width: 100%;
}
.header-form {
    position: relative;
    border-radius: 62px;
}
.header-input {
    width: 90%;
    height: 60px;
    border:none;
    border-radius: 62px;
    background-color: #e2e2e2;
    padding-left: 25px;
    outline:none;
    transition: all 0.6s ease 0.1s;

}

.header-input::placeholder {
    font-size: 12px;
    transform: translate(0, 15%);
}
.header-label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
    opacity: 0.4;
    font-size: 12px;
    pointer-events: none;
    transition: all 0.3s ease-in;
}
.header-input:focus {
    border: 2px solid #091f45;
}
.header-input:focus ~ .header-label {
    opacity: 0;
    transition: all 0.3s ease-in;
    padding-left: 45px;
}
.header-icons {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    justify-items: center;
}
.header-icons_cart-img {
    width: 22px;
}
.header-icons_profile {
    width: 22px;
}
.header-icons_cart-img {
    width: 100%;
    height: 100%;
}

.header-burger {
    width: 28px;
    height: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: none;
}
.header-burger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease 0s;

}
.header-burger::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease 0s;

}
.header-burger_decor {
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(20%, -1px);
    transition: all 0.3s ease 0s;

}

@media (max-width: 991.8px) {
    .header-burger_open::after {
        transition: all 0.3s ease 0s;
        transform: rotate(45deg);
        top: 50%;
    }
    .header-burger_open::before {
        transition: all 0.3s ease 0s;
        transform: rotate(-45deg);
        top: 50%;
    }
    .header-burger_open  .header-burger_decor{
        left: -30px;
        opacity: 0  ;
    }
    .menu {
        position: absolute;
        top: 100%;
        left: -100%;
        height: 60vh;
        padding: 25px 0;
        background-color: #2d335e;
        color: #ffffff;
        transition: all 0.3s ease;
    }
    .header-menu_open {
        background-color: #2d335e;
        width: 100%;
    }
    .menu-link::after {
        background-color: #ffffff;
        width: 0%;
    }
    .menu-link:hover::after {
        width: 120px;
    }
    .header-menu_open {
        left: 0;
        transition: all 0.3s ease;
    }
    .submenu {
        top:35px;
        max-width: 80%;
    }
    .submenu-open {
        left:15%;
        grid-template-columns: repeat(5,1fr);
    }
    .submenu-link::before {
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: #ffffff;
        content: '';
        top: 50%;
        left: 3px;
        transform: translate(0, -50%);
    }
    .menu-list {
        grid-auto-flow: row;
    }
    
    .header-container {
        grid-template-columns: 30px 140px minmax(40px,1fr) auto;
        padding: 0 20px;
    }
    .header-burger {
        display: block;
    }
}
 
@media (max-width: 767.8px) {
    .header-container {
        grid-template-columns: 30px 140px minmax(40px,1fr) auto;
        padding: 0 20px;
    }
    .submenu-open {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 575.8px) {
    .header-input:focus {
        width: 355px;
        transform: translateX(-38%);
        transition: all 0.6s ease 0.1s;
    }
    .header-logo {
        font-size: 16px;
    }
}
@media (max-width: 500.8px) {
    .header-container {
        grid-template-columns: 30px 100px minmax(40px,1fr) auto;
        padding: 0 10px;
        gap: 12px;
    }
    .header-input:focus {
        width: 315px;
        transform: translateX(-40%);
    }
    .submenu-open {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 378.8px) {
    .header-input:focus {
        transform: translateX(-50%);
        width: 240px;

    }
    .header-form {
        margin-right: 15px;
    }
    .submenu-open {
        left: 0;
        top: 60px;
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
    }
}
.myShop-main {
    max-width: 1440px;
}
.myShop-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 100px;
    gap: 20px;
}

.myShop-banner__content {
    display: grid;
    row-gap: 32px;
    padding: 70px 0;
}

.myShop-banner_title {
    text-transform: uppercase;
    max-width: 570px;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}
.myShop-banner__subtitle {
    line-height: 22px;
    opacity: 0.6;
    font-size: 18px;
}

.myShop-banner__btn {
    font-weight: 500;
    color: #ffffff;
    padding: 16px 54px;
    background-color: #2d335e;
    max-width: 200px;
    border-radius: 62px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

.myShop__advantage {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}
.myShop__advantage_count {
    font-weight: 500;
    font-size: 40px;
}
.myShop__advantage_text {
    line-height: 22px;
}

.myShop-banner_img-wrapper {
    position: relative;
    bottom: -4px;
}
.myShop-banner_img {
    position: absolute;
    bottom: 0;
    right: -15%;
    max-width: 720px;
}
@media(max-width: 1364px) {
    .myShop-banner_img {
        max-width: 620px;
    }
}
@media(max-width: 1280px) {
    .myShop-banner_title {
        font-size: 42px;
        line-height: 42px;
    }
    .myShop-banner_img {
        max-width: 620px;
    }
    .myShop__advantage {
        grid-template-columns: repeat(2,1fr);
    }
    .myShop-banner__content {
        margin-top: 20px;
    }
    .myShop__advantage_count {
        font-size: 30px;
    }
}
@media(max-width: 1108px) {
    .myShop-banner_img {
        max-width: 520px;
    }
}
@media(max-width: 991.8px) {
    .myShop-banner {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .myShop-banner_img {
        position: static;
        width: 720px;
    }
    .myShop__advantage {
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
    }
    .myShop-banner__content {
        justify-items: center;
    }
}
@media(max-width: 731px) {
    .myShop-banner {
        padding: 0 20px;
    }
}
@media(max-width: 573px) {
    .myShop__advantage {
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
    }
    .myShop-banner__subtitle {
        font-size: 14px;
    }
    .myShop-banner_title {
        font-size: 32px;
        line-height: 32px;
    }
    .myShop-banner_img {
        max-width: 300px;
    }
    .myShop-banner__content {
        gap: 15px;
        padding: 0 30px;
    }
}
@media(max-width: 380px) {
    .myShop-banner_img {
        max-width: 280px;
    }
}

.arrivals {
    padding: 70px 100px;
    display: grid;
    justify-items: center;
    row-gap: 40px;
}
@media (max-width: 1480px) {
    .arrivals {
        padding: 70px 20px;
    }
}
.arrivals__title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}
.arrivals__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, auto));
    column-gap: 20px;
}
.arrival__card-wrapper {
    display: grid;
    gap: 10px;
}

.arrival__card-img {
    width: 100%;
}
.arrival__card_title {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.arrival__card_stars-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px
}
.arrival__card_price-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px
}
.arrivals__btn {
    padding: 16px 64px;
    background-color: #2d335e;
    color: #ffffff;
    border-radius: 62px;
    text-transform: capitalize;
}
@media(max-width: 1258px) {
    .arrivals__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:40px;
    }
    .arrival__card-img {
        max-height: 270px;
    }
}
@media(max-width: 697px) {
    .arrivals__cards {
        gap: 15px;
        row-gap: 35px;
    }
    .arrivals__title {
        font-size: 36px;
    }
}
@media(max-width: 360px) {
    .arrivals {
        padding: 30px 10px;
    }
}


.selling {
    padding: 70px 100px;
    display: grid;
    justify-items: center;
    row-gap: 40px;
}
@media (max-width: 1480px) {
    .selling {
        padding: 70px 20px;
    }
}
.selling__title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}
.selling__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, auto));
    column-gap: 20px;
}
.selling__card-wrapper {
    display: grid;
    gap: 10px;
}

.selling__card-img {
    width: 100%;
}
.selling__card_title {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.selling__card_stars-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px
}
.selling__card_price-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px
}
.selling__btn {
    padding: 16px 64px;
    background-color: #2d335e;
    color: #ffffff;
    border-radius: 62px;
    text-transform: capitalize;
}
@media(max-width: 1258px) {
    .selling__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:40px;
    }
    .selling__card-img {
        max-height: 270px;
    }
}
@media(max-width: 697px) {
    .selling__cards {
        gap: 15px;
        row-gap: 35px;
    }
    .selling__title {
        font-size: 36px;
    }
}
@media(max-width: 360px) {
    .selling {
        padding: 30px 10px;
    }
}
.categories {
    padding: 0 100px;
    background-color: #e2e2e2;
}
.categories__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0 40px;
}
.categories__content {
    padding: 0 50px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.category__title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: 500;
    text-transform:capitalize;
    font-size: 35px;
}

.category_img {
    width: 100%;
    max-height: 350px;
    height: 100%;
}
.category__link {
    border-radius: 32px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.category__link:nth-of-type(2) {
    grid-column: 2 / 4;
    width: 100%;
}
.category__link:nth-of-type(3) {
    grid-column: 1 / 3;
}